.footer {
  margin-top: auto;
  /* background: #000; */
  background-color: #f1efef;
  border-top: 1px solid #d8c8c8;
  padding: 2rem 12rem;
  /* color: white; */
  display: flex;
}

.footer__left,
.footer__right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__img {
  width: 100px;
  /* margin: auto; */
  object-fit: contain;
  margin-bottom: 1.5rem;
  filter: invert(1);
}

.footer__right > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
