.block {
  display: flex;
  margin: 0 5rem;
}

.block__left,
.block__right {
  flex: 1;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block__left img {
  object-fit: contain;
  width: 80%;
  height: 400px;
}

.block__right p {
  text-align: justify;
}

@media (max-width: 680px) {
  .block {
    margin: 0 1rem;
  }
}

@media (max-width: 500px) {
  .block {
    flex-direction: column;
  }
}
