.prosncons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5rem;
}

.prosncons__left,
.prosncons__right {
  flex: 1;
  padding: 0 50px;
}

@media (max-width: 650px) {
  .prosncons {
    flex-direction: column;
  }

  .prosncons__left,
  .prosncons__right {
    margin: 20px;
    padding: 2px;
    flex: 1;
    width: 100%;
  }
}
