.home {
  display: flex;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: space-evenly;
}

@media (max-width: 745px) {
  .home {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
