.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
  border: 1px solid lightgray;
  padding: 6rem;
}

@media (max-width: 430px) {
  .login {
    padding: 2rem;
    /* justify-content: center; */
    align-items: center;
  }
}
